In [82]:
import numpy as np
import re 
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [83]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\tc\appdata\local\programs\python\python310\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\tc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in c:\users\tc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\tc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [84]:
from ydata_profiling import ProfileReport

In [85]:
df = pd.read_excel('arch0.xlsx')
df

,Source.Name,TIPO DOCUMENTO,NRO DOCUMENTO,CUIT - CUIL,GENERO,FECHA NACIMIENTO,CUE ESCUELA ORIGEN,HORAS TRABAJO,COD NIVEL INSTRUCCION PADRE,COD NIVEL INSTRUCCION MADRE,...,Día de Nacimiento,Fecha de Nacimiento,Edad durante Año Académico,Rango Etario Araucano,nivel instrucción padre,nivel instrucción madre,DNI,sexo,latitud final localidad,longitud final localidad
0,2018.txt,0,24684325,99999999999,2,19750209,999999999,NT,3,7,...,9,1975-02-09,43,40 ó más,3 - Escuela Primaria Completa,7 - Universitario o Superior Completo,24684325,F,-31.248248,-61.499812
1,2018.txt,0,35953009,99999999999,2,19910423,999999999,NDI,9,9,...,23,1991-04-23,27,27,9 - No sabe,9 - No sabe,35953009,F,-31.248248,-61.499812
2,2018.txt,0,35953709,99999999999,1,19910902,999999999,2035,2,3,...,2,1991-09-02,27,27,2 - Escuela Primaria Incompleta,3 - Escuela Primaria Completa,35953709,M,-31.248248,-61.499812
3,2018.txt,0,36814158,99999999999,2,19921025,999999999,20,3,3,...,25,1992-10-25,26,26,3 - Escuela Primaria Completa,3 - Escuela Primaria Completa,36814158,F,-31.248248,-61.499812
4,2018.txt,0,37575933,99999999999,1,19940408,999999999,20,7,4,...,8,1994-04-08,24,24,7 - Universitario o Superior Completo,4 - Secundario Incompleto,37575933,M,-31.248248,-61.499812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10880,2023.txt,0,40968435,99999999999,1,19980515,999999999,NDI,9,9,...,15,1998-05-15,25,25,9 - No sabe,9 - No sabe,40968435,M,NaN,NaN
10881,2023.txt,0,40968490,99999999999,1,19980624,999999999,NDI,9,9,...,24,1998-06-24,25,25,9 - No sabe,9 - No sabe,40968490,M,NaN,NaN
10882,2023.txt,0,41792889,99999999999,2,19990918,999999999,NDI,9,9,...,18,1999-09-18,24,24,9 - No sabe,9 - No sabe,41792889,F,NaN,NaN
10883,2023.txt,0,42532620,99999999999,2,20000229,999999999,20,9,9,...,29,2000-02-29,23,23,9 - No sabe,9 - No sabe,42532620,F,NaN,NaN
10884,2023.txt,0,43929133,99999999999,1,20020629,999999999,NDI,9,9,...,29,2002-06-29,21,21,9 - No sabe,9 - No sabe,43929133,M,NaN,NaN

In [86]:
# Dimensions of our dataset
dimensions = df.shape
dimensions

(10885, 41)

In [87]:
# Data type of each atribute
data_types = df.dtypes
data_types

Source.Name                                       object
TIPO DOCUMENTO                                     int64
NRO DOCUMENTO                                     object
CUIT - CUIL                                        int64
GENERO                                             int64
FECHA NACIMIENTO                                   int64
CUE ESCUELA ORIGEN                                 int64
HORAS TRABAJO                                     object
COD NIVEL INSTRUCCION PADRE                        int64
COD NIVEL INSTRUCCION MADRE                        int64
COD PAIS NACIMIENTO                                int64
COD PAIS PROCEDENCIA                               int64
FECHA INGRESO AL PAIS                            float64
COD PAIS QUE EXPIDE EL TITULO                      int64
LOCALIDAD DE PROCEDENCIA                         float64
AÑO ACADÉMICO                                      int64
latitud localidad                                float64
longitud localidad                               float64
latitud dpto                                     float64
longitud dpto                                    float64
nombreLocalidadAraucano                           object
Escuela de Origen                                 object
AÑO-DNI                                           object
Edad durante el año académico                      int64
c_Género                                          object
Rango Etario                                      object
Establecimientos Educativos Especiales            object
CUE ALTERNATIVO                                    int64
Sector Escuela de Origen                          object
Año de Nacimiento                                  int64
Mes de Nacimiento                                  int64
Día de Nacimiento                                  int64
Fecha de Nacimiento                       datetime64[ns]
Edad durante Año Académico                         int64
Rango Etario Araucano                             object
nivel instrucción padre                           object
nivel instrucción madre                           object
DNI                                               object
sexo                                              object
latitud final localidad                          float64
longitud final localidad                         float64
dtype: object

In [88]:
# Statistical Summary
data_description = df.describe()
data_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10885 entries, 0 to 10884
Data columns (total 41 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Source.Name                             10885 non-null  object
 1   TIPO DOCUMENTO                          10885 non-null  int64
 2   NRO DOCUMENTO                           10885 non-null  object
 3   CUIT - CUIL                             10885 non-null  int64
 4   GENERO                                  10885 non-null  int64
 5   FECHA NACIMIENTO                        10885 non-null  int64
 6   CUE ESCUELA ORIGEN                      10885 non-null  int64
 7   HORAS TRABAJO                           10885 non-null  object
 8   COD NIVEL INSTRUCCION PADRE             10885 non-null  int64
 9   COD NIVEL INSTRUCCION MADRE             10885 non-null  int64
 10  COD PAIS NACIMIENTO                     10885 non-null  int64
 11  COD PAIS PROCEDENCIA                    10885 non-null  int64
 12  FECHA INGRESO AL PAIS                   5217 non-null   float64
 13  COD PAIS QUE EXPIDE EL TITULO           10885 non-null  int64
 14  LOCALIDAD DE PROCEDENCIA                9678 non-null   float64
 15  AÑO ACADÉMICO                           10885 non-null  int64
 16  latitud localidad                       8785 non-null   float64
 17  longitud localidad                      8785 non-null   float64
 18  latitud dpto                            9600 non-null   float64
 19  longitud dpto                           9600 non-null   float64
 20  nombreLocalidadAraucano                 9667 non-null   object
 21  Escuela de Origen                       7665 non-null   object
 22  AÑO-DNI                                 10885 non-null  object
 23  Edad durante el año académico           10885 non-null  int64
 24  c_Género                                10885 non-null  object
 25  Rango Etario                            10885 non-null  object
 26  Establecimientos Educativos Especiales  3176 non-null   object
 27  CUE ALTERNATIVO                         10885 non-null  int64
 28  Sector Escuela de Origen                7665 non-null   object
 29  Año de Nacimiento                       10885 non-null  int64
 30  Mes de Nacimiento                       10885 non-null  int64
 31  Día de Nacimiento                       10885 non-null  int64
 32  Fecha de Nacimiento                     10885 non-null  datetime64[ns]
 33  Edad durante Año Académico              10885 non-null  int64
 34  Rango Etario Araucano                   10885 non-null  object
 35  nivel instrucción padre                 10885 non-null  object
 36  nivel instrucción madre                 10885 non-null  object
 37  DNI                                     10885 non-null  object
 38  sexo                                    10885 non-null  object
 39  latitud final localidad                 9600 non-null   float64
 40  longitud final localidad                9600 non-null   float64
dtypes: datetime64[ns](1), float64(8), int64(17), object(15)
memory usage: 3.4+ MB

In [89]:
#Columnas duplicadas
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10880    False
10881    False
10882    False
10883    False
10884    False
Length: 10885, dtype: bool

In [90]:
# Corroboremos si tenemos datos faltantes
df.isnull().sum()

Source.Name                                  0
TIPO DOCUMENTO                               0
NRO DOCUMENTO                                0
CUIT - CUIL                                  0
GENERO                                       0
FECHA NACIMIENTO                             0
CUE ESCUELA ORIGEN                           0
HORAS TRABAJO                                0
COD NIVEL INSTRUCCION PADRE                  0
COD NIVEL INSTRUCCION MADRE                  0
COD PAIS NACIMIENTO                          0
COD PAIS PROCEDENCIA                         0
FECHA INGRESO AL PAIS                     5668
COD PAIS QUE EXPIDE EL TITULO                0
LOCALIDAD DE PROCEDENCIA                  1207
AÑO ACADÉMICO                                0
latitud localidad                         2100
longitud localidad                        2100
latitud dpto                              1285
longitud dpto                             1285
nombreLocalidadAraucano                   1218
Escuela de Origen                         3220
AÑO-DNI                                      0
Edad durante el año académico                0
c_Género                                     0
Rango Etario                                 0
Establecimientos Educativos Especiales    7709
CUE ALTERNATIVO                              0
Sector Escuela de Origen                  3220
Año de Nacimiento                            0
Mes de Nacimiento                            0
Día de Nacimiento                            0
Fecha de Nacimiento                          0
Edad durante Año Académico                   0
Rango Etario Araucano                        0
nivel instrucción padre                      0
nivel instrucción madre                      0
DNI                                          0
sexo                                         0
latitud final localidad                   1285
longitud final localidad                  1285
dtype: int64

In [91]:
df = pd.read_excel('arch1.xlsx')
df

,Source.Name,TIPO DOCUMENTO,NRO DOCUMENTO,CUIT - CUIL,COD UNIDAD ACADEMICA,COD TITULO,AÑO DE INGRESO,FORMA DE INGRESO,FECHA DE EGRESADO,DEPENDENCIA DE INGRESO,...,Edad durante Año academico,nivel instruccion padre,nivel instruccion madre,EGRESADO_TRUE,EGRESO-AÑO-ACADEMICO,Años duración propuesta,AÑO INGRESO OPTIMO,cod titulo - titulo corto,cod titulo - titulo araucano,apellido - nombre
0,2017.txt,0,37797716,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
1,2017.txt,0,40556955,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
2,2017.txt,0,13224482,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
3,2017.txt,0,35292027,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
4,2017.txt,0,41319684,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15528,2023.txt,0,37547773,23375477734,3173,15856,2021,1,20230513.0,3173,...,29.0,6 - Universitario o Superior Incompleto,7 - Universitario o Superior Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"BORDET, AIXA MICAELA"
15529,2023.txt,0,41287998,27412879983,3173,15856,2021,1,20230513.0,3173,...,25.0,9 - No sabe,5 - Secundario Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"ARANCIBIA, AILÍN"
15530,2023.txt,0,41602052,27416020529,3173,15856,2021,1,20230513.0,3173,...,24.0,5 - Secundario Completo,5 - Secundario Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"EBERHARDT, ALDANA"
15531,2023.txt,0,41732160,20417321609,3173,15856,2021,1,20230513.0,3173,...,24.0,6 - Universitario o Superior Incompleto,7 - Universitario o Superior Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"REFAHE, IVAN"
15532,2023.txt,0,40266584,27402665845,3173,16220,2017,1,20230707.0,3173,...,26.0,9 - No sabe,9 - No sabe,1,2023,3,2020,16220 - Tec.Univ.en Des. Videojuegos,16220 - Técnico/a Universitario/a en Desarroll...,"REY, DENISE AILÉN"

In [92]:
# Dimensions of our dataset
dimensions = df.shape
dimensions

(15533, 46)

In [93]:
# Data type of each atribute
data_types = df.dtypes
data_types

Source.Name                                 object
TIPO DOCUMENTO                               int64
NRO DOCUMENTO                               object
CUIT - CUIL                                  int64
COD UNIDAD ACADEMICA                         int64
COD TITULO                                   int64
AÑO DE INGRESO                               int64
FORMA DE INGRESO                             int64
FECHA DE EGRESADO                          float64
DEPENDENCIA DE INGRESO                       int64
DEPENDENCIA DE EGRESO                      float64
Año Académico                                int64
titulo araucano                             object
EGRESADO                                    object
título - nombre corto                       object
AÑO EGRESADO - TITULO                       object
AÑO-DNI                                     object
Escuela de Origen                           object
Edad durante el año académico              float64
Rango Etario                                object
Género                                      object
TITULO INTERMEDIO                           object
ubicacion del establecimiento educativo     object
dpto del establecimiento educativo          object
sexo                                        object
año de egreso                              float64
edad de egreso                             float64
Años desde ingreso a egreso                float64
SITUACION ACTUAL                            object
INSCRIPTO - REINSCRIPTO - EGRESADO          object
EN INFORME                                  object
INSCRIPTO - REINSCRIPTO                     object
VISUALIZAR ALUMNO - CARRERA                 object
Insc-Reinsc                                 object
SITUACION 2023                              object
Rango Etario para Araucano                  object
Edad durante Año academico                 float64
nivel instruccion padre                     object
nivel instruccion madre                     object
EGRESADO_TRUE                                int64
EGRESO-AÑO-ACADEMICO                         int64
Años duración propuesta                      int64
AÑO INGRESO OPTIMO                           int64
cod titulo - titulo corto                   object
cod titulo - titulo araucano                object
apellido - nombre                           object
dtype: object

In [94]:
# Statistical Summary
data_description = df.describe()
data_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15533 entries, 0 to 15532
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Source.Name                              15533 non-null  object
 1   TIPO DOCUMENTO                           15533 non-null  int64
 2   NRO DOCUMENTO                            15533 non-null  object
 3   CUIT - CUIL                              15533 non-null  int64
 4   COD UNIDAD ACADEMICA                     15533 non-null  int64
 5   COD TITULO                               15533 non-null  int64
 6   AÑO DE INGRESO                           15533 non-null  int64
 7   FORMA DE INGRESO                         15533 non-null  int64
 8   FECHA DE EGRESADO                        289 non-null    float64
 9   DEPENDENCIA DE INGRESO                   15533 non-null  int64
 10  DEPENDENCIA DE EGRESO                    289 non-null    float64
 11  Año Académico                            15533 non-null  int64
 12  titulo araucano                          15533 non-null  object
 13  EGRESADO                                 289 non-null    object
 14  título - nombre corto                    15533 non-null  object
 15  AÑO EGRESADO - TITULO                    15533 non-null  object
 16  AÑO-DNI                                  15533 non-null  object
 17  Escuela de Origen                        10694 non-null  object
 18  Edad durante el año académico            15040 non-null  float64
 19  Rango Etario                             15040 non-null  object
 20  Género                                   15040 non-null  object
 21  TITULO INTERMEDIO                        15533 non-null  object
 22  ubicacion del establecimiento educativo  10694 non-null  object
 23  dpto del establecimiento educativo       10694 non-null  object
 24  sexo                                     15040 non-null  object
 25  año de egreso                            289 non-null    float64
 26  edad de egreso                           289 non-null    float64
 27  Años desde ingreso a egreso              289 non-null    float64
 28  SITUACION ACTUAL                         3867 non-null   object
 29  INSCRIPTO - REINSCRIPTO - EGRESADO       15533 non-null  object
 30  EN INFORME                               15533 non-null  object
 31  INSCRIPTO - REINSCRIPTO                  15533 non-null  object
 32  VISUALIZAR ALUMNO - CARRERA              15533 non-null  object
 33  Insc-Reinsc                              15533 non-null  object
 34  SITUACION 2023                           3844 non-null   object
 35  Rango Etario para Araucano               15040 non-null  object
 36  Edad durante Año academico               15040 non-null  float64
 37  nivel instruccion padre                  15040 non-null  object
 38  nivel instruccion madre                  15040 non-null  object
 39  EGRESADO_TRUE                            15533 non-null  int64
 40  EGRESO-AÑO-ACADEMICO                     15533 non-null  int64
 41  Años duración propuesta                  15533 non-null  int64
 42  AÑO INGRESO OPTIMO                       15533 non-null  int64
 43  cod titulo - titulo corto                15533 non-null  object
 44  cod titulo - titulo araucano             15533 non-null  object
 45  apellido - nombre                        15040 non-null  object
dtypes: float64(7), int64(12), object(27)
memory usage: 5.5+ MB

In [95]:
#Columnas duplicadas
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15528    False
15529    False
15530    False
15531    False
15532    False
Length: 15533, dtype: bool

In [96]:
# Corroboremos si tenemos datos faltantes
df.isnull().sum()

Source.Name                                    0
TIPO DOCUMENTO                                 0
NRO DOCUMENTO                                  0
CUIT - CUIL                                    0
COD UNIDAD ACADEMICA                           0
COD TITULO                                     0
AÑO DE INGRESO                                 0
FORMA DE INGRESO                               0
FECHA DE EGRESADO                          15244
DEPENDENCIA DE INGRESO                         0
DEPENDENCIA DE EGRESO                      15244
Año Académico                                  0
titulo araucano                                0
EGRESADO                                   15244
título - nombre corto                          0
AÑO EGRESADO - TITULO                          0
AÑO-DNI                                        0
Escuela de Origen                           4839
Edad durante el año académico                493
Rango Etario                                 493
Género                                       493
TITULO INTERMEDIO                              0
ubicacion del establecimiento educativo     4839
dpto del establecimiento educativo          4839
sexo                                         493
año de egreso                              15244
edad de egreso                             15244
Años desde ingreso a egreso                15244
SITUACION ACTUAL                           11666
INSCRIPTO - REINSCRIPTO - EGRESADO             0
EN INFORME                                     0
INSCRIPTO - REINSCRIPTO                        0
VISUALIZAR ALUMNO - CARRERA                    0
Insc-Reinsc                                    0
SITUACION 2023                             11689
Rango Etario para Araucano                   493
Edad durante Año academico                   493
nivel instruccion padre                      493
nivel instruccion madre                      493
EGRESADO_TRUE                                  0
EGRESO-AÑO-ACADEMICO                           0
Años duración propuesta                        0
AÑO INGRESO OPTIMO                             0
cod titulo - titulo corto                      0
cod titulo - titulo araucano                   0
apellido - nombre                            493
dtype: int64

In [97]:
df = pd.read_excel('arch2.xlsx')
df

,Source.Name,TIPO DOCUMENTO,NRO DOCUMENTO,CUIT - CUIL,COD UNIDAD ACADEMICA,COD TITULO,AÑO DE INGRESO,FORMA DE INGRESO,FECHA DE EGRESADO,DEPENDENCIA DE INGRESO,...,Edad durante Año academico,nivel instruccion padre,nivel instruccion madre,EGRESADO_TRUE,EGRESO-AÑO-ACADEMICO,Años duración propuesta,AÑO INGRESO OPTIMO,cod titulo - titulo corto,cod titulo - titulo araucano,apellido - nombre
0,2017.txt,0,37797716,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
1,2017.txt,0,40556955,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
2,2017.txt,0,13224482,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
3,2017.txt,0,35292027,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
4,2017.txt,0,41319684,99999999999,3173,598,2017,1,NaN,3173,...,NaN,NaN,NaN,0,0,5,0,598 - Lic.en Rel.del Trabajo,598 - Licenciado en Relaciones del Trabajo,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15528,2023.txt,0,37547773,23375477734,3173,15856,2021,1,20230513.0,3173,...,29.0,6 - Universitario o Superior Incompleto,7 - Universitario o Superior Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"BORDET, AIXA MICAELA"
15529,2023.txt,0,41287998,27412879983,3173,15856,2021,1,20230513.0,3173,...,25.0,9 - No sabe,5 - Secundario Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"ARANCIBIA, AILÍN"
15530,2023.txt,0,41602052,27416020529,3173,15856,2021,1,20230513.0,3173,...,24.0,5 - Secundario Completo,5 - Secundario Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"EBERHARDT, ALDANA"
15531,2023.txt,0,41732160,20417321609,3173,15856,2021,1,20230513.0,3173,...,24.0,6 - Universitario o Superior Incompleto,7 - Universitario o Superior Completo,1,2023,2,2021,15856 - Lic.en Cs del Entrenam. CCC,15856 - Licenciado/a en Ciencias del Entrenami...,"REFAHE, IVAN"
15532,2023.txt,0,40266584,27402665845,3173,16220,2017,1,20230707.0,3173,...,26.0,9 - No sabe,9 - No sabe,1,2023,3,2020,16220 - Tec.Univ.en Des. Videojuegos,16220 - Técnico/a Universitario/a en Desarroll...,"REY, DENISE AILÉN"

In [98]:
# Dimensions of our dataset
dimensions = df.shape
dimensions

(15533, 46)

In [99]:
# Data type of each atribute
data_types = df.dtypes
data_types

Source.Name                                 object
TIPO DOCUMENTO                               int64
NRO DOCUMENTO                               object
CUIT - CUIL                                  int64
COD UNIDAD ACADEMICA                         int64
COD TITULO                                   int64
AÑO DE INGRESO                               int64
FORMA DE INGRESO                             int64
FECHA DE EGRESADO                          float64
DEPENDENCIA DE INGRESO                       int64
DEPENDENCIA DE EGRESO                      float64
Año Académico                                int64
titulo araucano                             object
EGRESADO                                    object
título - nombre corto                       object
AÑO EGRESADO - TITULO                       object
AÑO-DNI                                     object
Escuela de Origen                           object
Edad durante el año académico              float64
Rango Etario                                object
Género                                      object
TITULO INTERMEDIO                           object
ubicacion del establecimiento educativo     object
dpto del establecimiento educativo          object
sexo                                        object
año de egreso                              float64
edad de egreso                             float64
Años desde ingreso a egreso                float64
SITUACION ACTUAL                            object
INSCRIPTO - REINSCRIPTO - EGRESADO          object
EN INFORME                                  object
INSCRIPTO - REINSCRIPTO                     object
VISUALIZAR ALUMNO - CARRERA                 object
Insc-Reinsc                                 object
SITUACION 2023                              object
Rango Etario para Araucano                  object
Edad durante Año academico                 float64
nivel instruccion padre                     object
nivel instruccion madre                     object
EGRESADO_TRUE                                int64
EGRESO-AÑO-ACADEMICO                         int64
Años duración propuesta                      int64
AÑO INGRESO OPTIMO                           int64
cod titulo - titulo corto                   object
cod titulo - titulo araucano                object
apellido - nombre                           object
dtype: object

In [100]:
# Statistical Summary
data_description = df.describe()
data_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15533 entries, 0 to 15532
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Source.Name                              15533 non-null  object
 1   TIPO DOCUMENTO                           15533 non-null  int64
 2   NRO DOCUMENTO                            15533 non-null  object
 3   CUIT - CUIL                              15533 non-null  int64
 4   COD UNIDAD ACADEMICA                     15533 non-null  int64
 5   COD TITULO                               15533 non-null  int64
 6   AÑO DE INGRESO                           15533 non-null  int64
 7   FORMA DE INGRESO                         15533 non-null  int64
 8   FECHA DE EGRESADO                        289 non-null    float64
 9   DEPENDENCIA DE INGRESO                   15533 non-null  int64
 10  DEPENDENCIA DE EGRESO                    289 non-null    float64
 11  Año Académico                            15533 non-null  int64
 12  titulo araucano                          15533 non-null  object
 13  EGRESADO                                 289 non-null    object
 14  título - nombre corto                    15533 non-null  object
 15  AÑO EGRESADO - TITULO                    15533 non-null  object
 16  AÑO-DNI                                  15533 non-null  object
 17  Escuela de Origen                        10694 non-null  object
 18  Edad durante el año académico            15040 non-null  float64
 19  Rango Etario                             15040 non-null  object
 20  Género                                   15040 non-null  object
 21  TITULO INTERMEDIO                        15533 non-null  object
 22  ubicacion del establecimiento educativo  10694 non-null  object
 23  dpto del establecimiento educativo       10694 non-null  object
 24  sexo                                     15040 non-null  object
 25  año de egreso                            289 non-null    float64
 26  edad de egreso                           289 non-null    float64
 27  Años desde ingreso a egreso              289 non-null    float64
 28  SITUACION ACTUAL                         3867 non-null   object
 29  INSCRIPTO - REINSCRIPTO - EGRESADO       15533 non-null  object
 30  EN INFORME                               15533 non-null  object
 31  INSCRIPTO - REINSCRIPTO                  15533 non-null  object
 32  VISUALIZAR ALUMNO - CARRERA              15533 non-null  object
 33  Insc-Reinsc                              15533 non-null  object
 34  SITUACION 2023                           3844 non-null   object
 35  Rango Etario para Araucano               15040 non-null  object
 36  Edad durante Año academico               15040 non-null  float64
 37  nivel instruccion padre                  15040 non-null  object
 38  nivel instruccion madre                  15040 non-null  object
 39  EGRESADO_TRUE                            15533 non-null  int64
 40  EGRESO-AÑO-ACADEMICO                     15533 non-null  int64
 41  Años duración propuesta                  15533 non-null  int64
 42  AÑO INGRESO OPTIMO                       15533 non-null  int64
 43  cod titulo - titulo corto                15533 non-null  object
 44  cod titulo - titulo araucano             15533 non-null  object
 45  apellido - nombre                        15040 non-null  object
dtypes: float64(7), int64(12), object(27)
memory usage: 5.5+ MB

In [101]:
#Columnas duplicadas
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15528    False
15529    False
15530    False
15531    False
15532    False
Length: 15533, dtype: bool

In [102]:
# Corroboremos si tenemos datos faltantes
df.isnull().sum()

Source.Name                                    0
TIPO DOCUMENTO                                 0
NRO DOCUMENTO                                  0
CUIT - CUIL                                    0
COD UNIDAD ACADEMICA                           0
COD TITULO                                     0
AÑO DE INGRESO                                 0
FORMA DE INGRESO                               0
FECHA DE EGRESADO                          15244
DEPENDENCIA DE INGRESO                         0
DEPENDENCIA DE EGRESO                      15244
Año Académico                                  0
titulo araucano                                0
EGRESADO                                   15244
título - nombre corto                          0
AÑO EGRESADO - TITULO                          0
AÑO-DNI                                        0
Escuela de Origen                           4839
Edad durante el año académico                493
Rango Etario                                 493
Género                                       493
TITULO INTERMEDIO                              0
ubicacion del establecimiento educativo     4839
dpto del establecimiento educativo          4839
sexo                                         493
año de egreso                              15244
edad de egreso                             15244
Años desde ingreso a egreso                15244
SITUACION ACTUAL                           11666
INSCRIPTO - REINSCRIPTO - EGRESADO             0
EN INFORME                                     0
INSCRIPTO - REINSCRIPTO                        0
VISUALIZAR ALUMNO - CARRERA                    0
Insc-Reinsc                                    0
SITUACION 2023                             11689
Rango Etario para Araucano                   493
Edad durante Año academico                   493
nivel instruccion padre                      493
nivel instruccion madre                      493
EGRESADO_TRUE                                  0
EGRESO-AÑO-ACADEMICO                           0
Años duración propuesta                        0
AÑO INGRESO OPTIMO                             0
cod titulo - titulo corto                      0
cod titulo - titulo araucano                   0
apellido - nombre                            493
dtype: int64

In [103]:
df = pd.read_excel('arch3.xlsx')
df

,Source.Name,TIPO DOCUMENTO,NRO DOCUMENTO,CUIT - CUIL,COD UNIDAD ACADEMICA,COD TITULO,FECHA REGULARIZACION - NO REGULARIZ,REGULAR O NO,COD INTERNO MATERIA,NOMBRE MATERIA,...,no regular,ausente-libre,cod-propuesta,dni-titulo (campo clave),AÑO DE INGRESO,AÑO DE INGRESO PARA TASA DE EGRESADOS,año-dni,BECA1,BECA2,Con Beca
0,2019.txt,0,13075985,99999999999,3173,598,20190701,1,LR019,Gestión de Capacitación y Desarrollo,...,0,0,598 - Lic.en Rel.del Trabajo,2019-13075985-598,2016,0,2019-13075985,NaN,NaN,NaN
1,2019.txt,0,13075985,99999999999,3173,598,20190702,1,LR021,Políticas Sociolaborales,...,0,0,598 - Lic.en Rel.del Trabajo,2019-13075985-598,2016,0,2019-13075985,NaN,NaN,NaN
2,2019.txt,0,13075985,99999999999,3173,598,20190703,1,LR020,Estudios Organizacionales,...,0,0,598 - Lic.en Rel.del Trabajo,2019-13075985-598,2016,0,2019-13075985,NaN,NaN,NaN
3,2019.txt,0,13075985,99999999999,3173,598,20190704,1,LR018,Psicología del Trabajo,...,0,0,598 - Lic.en Rel.del Trabajo,2019-13075985-598,2016,0,2019-13075985,NaN,NaN,NaN
4,2019.txt,0,13075985,99999999999,3173,598,20191118,1,LR024,Relaciones del Trabajo II,...,0,0,598 - Lic.en Rel.del Trabajo,2019-13075985-598,2016,0,2019-13075985,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80181,2018.txt,0,42530174,99999999999,3173,13715,20190317,1,3,Musica y FX,...,0,0,13715 - Lic.en Prod.de Videojuegos y E.D.,2018-42530174-13715,2018,2018,2018-42530174,NaN,NaN,NaN
80182,2018.txt,0,42530174,99999999999,3173,13715,20190317,1,5,Narrativa en Videojuegos,...,0,0,13715 - Lic.en Prod.de Videojuegos y E.D.,2018-42530174-13715,2018,2018,2018-42530174,NaN,NaN,NaN
80183,2018.txt,0,42587274,99999999999,3173,13715,20190317,1,6,Algebra,...,0,0,13715 - Lic.en Prod.de Videojuegos y E.D.,2018-42587274-13715,2018,2018,2018-42587274,NaN,NaN,NaN
80184,2018.txt,0,42587274,99999999999,3173,13715,20190317,1,3,Musica y FX,...,0,0,13715 - Lic.en Prod.de Videojuegos y E.D.,2018-42587274-13715,2018,2018,2018-42587274,NaN,NaN,NaN
80185,2018.txt,0,42587274,99999999999,3173,13715,20190317,1,5,Narrativa en Videojuegos,...,0,0,13715 - Lic.en Prod.de Videojuegos y E.D.,2018-42587274-13715,2018,2018,2018-42587274,NaN,NaN,NaN

In [104]:
# Dimensions of our dataset
dimensions = df.shape
dimensions

(80186, 42)

In [105]:
# Data type of each atribute
data_types = df.dtypes
data_types

Source.Name                               object
TIPO DOCUMENTO                             int64
NRO DOCUMENTO                             object
CUIT - CUIL                                int64
COD UNIDAD ACADEMICA                       int64
COD TITULO                                 int64
FECHA REGULARIZACION - NO REGULARIZ        int64
REGULAR O NO                               int64
COD INTERNO MATERIA                       object
NOMBRE MATERIA                            object
CARGA HORARIA                            float64
OBLIGATORIEDAD DE LA MATERIA               int64
FORMA DE REGULARIZACION                    int64
DEPENDENCIA DE CURSADA                     int64
LIBRO DE ACTAS                           float64
NRO DE ACTA                              float64
FOLIO                                    float64
EXPEDIENTE                                object
Año Académico                              int64
Descripción Regular o no                  object
Propuesta Académica                       object
Título Intermedio                         object
solo regular                              object
Descripcion Forma de Regularizacion       object
c_MATERIA                                 object
Grado de la Propuesta                     object
código propuesta en guaraní               object
propuesta - materia                       object
CARGA HORARIA - rangos                   float64
Carrera - Materia - Año Académico         object
Carrera - Año Académico                   object
regular                                    int64
no regular                                 int64
ausente-libre                              int64
cod-propuesta                             object
dni-titulo (campo clave)                  object
AÑO DE INGRESO                             int64
AÑO DE INGRESO PARA TASA DE EGRESADOS      int64
año-dni                                   object
BECA1                                     object
BECA2                                     object
Con Beca                                  object
dtype: object

In [106]:
# Statistical Summary
data_description = df.describe()
data_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80186 entries, 0 to 80185
Data columns (total 42 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Source.Name                            80186 non-null  object
 1   TIPO DOCUMENTO                         80186 non-null  int64
 2   NRO DOCUMENTO                          80186 non-null  object
 3   CUIT - CUIL                            80186 non-null  int64
 4   COD UNIDAD ACADEMICA                   80186 non-null  int64
 5   COD TITULO                             80186 non-null  int64
 6   FECHA REGULARIZACION - NO REGULARIZ    80186 non-null  int64
 7   REGULAR O NO                           80186 non-null  int64
 8   COD INTERNO MATERIA                    80186 non-null  object
 9   NOMBRE MATERIA                         79725 non-null  object
 10  CARGA HORARIA                          51081 non-null  float64
 11  OBLIGATORIEDAD DE LA MATERIA           80186 non-null  int64
 12  FORMA DE REGULARIZACION                80186 non-null  int64
 13  DEPENDENCIA DE CURSADA                 80186 non-null  int64
 14  LIBRO DE ACTAS                         71714 non-null  float64
 15  NRO DE ACTA                            79108 non-null  float64
 16  FOLIO                                  71714 non-null  float64
 17  EXPEDIENTE                             1078 non-null   object
 18  Año Académico                          80186 non-null  int64
 19  Descripción Regular o no               79725 non-null  object
 20  Propuesta Académica                    80186 non-null  object
 21  Título Intermedio                      80186 non-null  object
 22  solo regular                           80186 non-null  object
 23  Descripcion Forma de Regularizacion    79725 non-null  object
 24  c_MATERIA                              80186 non-null  object
 25  Grado de la Propuesta                  80186 non-null  object
 26  código propuesta en guaraní            58077 non-null  object
 27  propuesta - materia                    80186 non-null  object
 28  CARGA HORARIA - rangos                 51081 non-null  float64
 29  Carrera - Materia - Año Académico      80186 non-null  object
 30  Carrera - Año Académico                80186 non-null  object
 31  regular                                80186 non-null  int64
 32  no regular                             80186 non-null  int64
 33  ausente-libre                          80186 non-null  int64
 34  cod-propuesta                          80186 non-null  object
 35  dni-titulo (campo clave)               80186 non-null  object
 36  AÑO DE INGRESO                         80186 non-null  int64
 37  AÑO DE INGRESO PARA TASA DE EGRESADOS  80186 non-null  int64
 38  año-dni                                80186 non-null  object
 39  BECA1                                  5559 non-null   object
 40  BECA2                                  416 non-null    object
 41  Con Beca                               5559 non-null   object
dtypes: float64(5), int64(15), object(22)
memory usage: 25.7+ MB

In [107]:
#Columnas duplicadas
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
80181    False
80182    False
80183    False
80184    False
80185    False
Length: 80186, dtype: bool

In [108]:
# Corroboremos si tenemos datos faltantes
df.isnull().sum()

Source.Name                                  0
TIPO DOCUMENTO                               0
NRO DOCUMENTO                                0
CUIT - CUIL                                  0
COD UNIDAD ACADEMICA                         0
COD TITULO                                   0
FECHA REGULARIZACION - NO REGULARIZ          0
REGULAR O NO                                 0
COD INTERNO MATERIA                          0
NOMBRE MATERIA                             461
CARGA HORARIA                            29105
OBLIGATORIEDAD DE LA MATERIA                 0
FORMA DE REGULARIZACION                      0
DEPENDENCIA DE CURSADA                       0
LIBRO DE ACTAS                            8472
NRO DE ACTA                               1078
FOLIO                                     8472
EXPEDIENTE                               79108
Año Académico                                0
Descripción Regular o no                   461
Propuesta Académica                          0
Título Intermedio                            0
solo regular                                 0
Descripcion Forma de Regularizacion        461
c_MATERIA                                    0
Grado de la Propuesta                        0
código propuesta en guaraní              22109
propuesta - materia                          0
CARGA HORARIA - rangos                   29105
Carrera - Materia - Año Académico            0
Carrera - Año Académico                      0
regular                                      0
no regular                                   0
ausente-libre                                0
cod-propuesta                                0
dni-titulo (campo clave)                     0
AÑO DE INGRESO                               0
AÑO DE INGRESO PARA TASA DE EGRESADOS        0
año-dni                                      0
BECA1                                    74627
BECA2                                    79770
Con Beca                                 74627
dtype: int64